HELP.md
# Maven output
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Application properties (keep template, ignore real one)
application.properties
bin/src/main/resources/application.properties
src/main/resources/application.properties
**/src/main/resources/application.properties

### STS (Eclipse) ###
.settings/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Eclipse compiled files
bin/
bin/**
/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Cross-IDE safe files to keep ###
# These SHOULD be committed (shared configs)
# .gitignore
# README.md
# mvnw, mvnw.cmd
# pom.xml - YES, commit this!