.feed-section-label {
  font-size: 0.85em;
  color: #888;
  margin: -8px 0 8px 4px;
}

/* FEED POSTS LIST */
.feed-posts-list {
  margin-top: 40px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  height: calc(100% - 40px);
}

.feed-posts-list {
  mask-image: linear-gradient(
    to bottom,
    transparent 0px,
    black 20px,
    black calc(100% - 20px),
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0px,
    black 20px,
    black calc(100% - 20px),
    transparent 100%
  );
}